body{
    background-color: red;
    background-image:url(yarisaydam2.png) ;
}

#lit{
    color: black;
    font-size:xxx-large;
    text-align:center;
    width: 600px;
    padding: 50px;
    display: flex;
    justify-content: center;
}
.lithium{
    color: black;
    font-size:xx-large ;
    text-align:center;

    padding: 50px;
    display: flex;
    justify-content: center;
}
.litdiv{
    width: 600px;
    padding: 50px;
    position: relative;
    margin: auto;
    justify-content: center;


}